In [ ]:
#refrence 04 - Pandas / Day 3 / Activity 05: Ins - Mapping

In [9]:
import pandas as pd

In [10]:
file = "shop_point.csv"
data = pd.read_csv(file)
atlanta_poi = data[['X','Y','shop','name','addr:postcode']]
atlanta_poi['shop'].unique()

array(['accessories', 'African Imports', 'alcohol', 'bakery', 'beauty',
       'beverages', 'bicycle', 'books', 'boutique', 'car', 'car_parts',
       'car_repair', 'clothes', 'computer', 'confectionery',
       'convenience', 'copyshop', 'cosmetics', 'craft', 'custom T-shirts',
       'deli', 'department_store', 'discount', 'doityourself',
       'dry_cleaning', 'electronics', 'erotic', 'fishmonger', 'florist',
       'frame', 'fresh juices & smoothies', 'frozen yogurt',
       'Frozen Yogurt', 'funeral_directors', 'furniture', 'gallery',
       'gift', 'glam shop', 'hairdresser', 'hardware', 'headshop', 'hifi',
       'hookah bar', 'household', 'houseware', 'ice_cream', 'Insurance',
       'interior_decoration', 'jewelry', 'kitchen', 'laundry',
       'locksmith', 'mall', 'massage', 'mobile_phone', 'money_lender',
       'motorcycle', 'music', 'nail shop', 'new_age', 'optician',
       'outdoor', 'party', 'pet', 'piercing', 'religion', 'second_hand',
       'shoes', 'skateshop', 'sports', 'stationery', 'supermarket',
       'tailor', 'tattoo', 'ticket', 'tires', 'tobacco', 'toys',
       'travel_agency', 'tyres', 'variety_store', 'video', 'wigs', 'wine',
       'yes'], dtype=object)

In [24]:
#Subsets of Atlanta Points of Interest
#1: alc_shops - includes both wine and alcohol shops 
#2: food_shops - bakery, confectionery, deli, frozen yogurt, Frozen Yogurt, ice_cream, fresh juices & smoothies
#3: shopping - accesories, cosmetics, department_store, mall, skateshop, electronics, craft, gift, glam shop, household, interior_decoration
#4:

In [19]:
alc_shops = atlanta_poi.loc[(atlanta_poi['shop']=='alcohol')|(atlanta_poi['shop']=='wine')| (atlanta_poi['shop']=='beverages')]
alc_shops

,X,Y,shop,name,addr:postcode
2,-84.358365,33.740456,alcohol,3 Parks,NaN
3,-84.413797,33.809196,alcohol,Capital City Liquor Store,30318
4,-84.362881,33.773527,alcohol,Green's Package Store,NaN
5,-84.363892,33.757099,alcohol,Hop City,NaN
6,-84.410650,33.779037,alcohol,Hop City,NaN
7,-84.349437,33.766559,alcohol,Little 5 Points Package,NaN
8,-84.387766,33.780832,alcohol,Mac's Beer and Wine,NaN
9,-84.407454,33.791777,alcohol,Northside Package,NaN
10,-84.412059,33.785228,alcohol,Perrine's Wine Shop,NaN
11,-84.338837,33.804481,alcohol,Pitch 'n Putt,NaN
12,-84.381209,33.861595,alcohol,Savi Provisions,30342
13,-84.349527,33.747296,alcohol,NaN,NaN
37,-84.412205,33.785912,beverages,dtox Organic Juice,NaN
38,-84.417543,33.728978,beverages,Monday Night Brewing Co-Garage,NaN
39,-84.417559,33.728987,beverages,Monday Night Brewing- Garage,NaN
342,-84.358845,33.762344,wine,Barcelona VinoTeca,30307
343,-84.352234,33.792737,wine,Highland Wine and Crystal,NaN
344,-84.380974,33.818313,wine,pH Wine Merchant,30305

In [22]:
food_shops = atlanta_poi.loc[(atlanta_poi['shop']=='bakery') | (atlanta_poi['shop']=='confectionery')\
                            | (atlanta_poi['shop']=='deli') | (atlanta_poi['shop']=='frozen yogurt')\
                            | (atlanta_poi['shop']=='Frozen Yogurt')| (atlanta_poi['shop']=='ice_cream')| (atlanta_poi['shop']=='fresh juices & smoothies')]
food_shops

,X,Y,shop,name,addr:postcode
14,-84.352826,33.792625,bakery,Alon's,NaN
15,-84.387839,33.761818,bakery,Corner Bakery Cafe,30303
16,-84.346507,33.740036,bakery,Emerald City Bagels,30316
17,-84.349983,33.733913,bakery,Endulge Cupcake Boutique,30316
18,-84.365722,33.761156,bakery,Highland Bakery,NaN
19,-84.379809,33.755646,bakery,Sweet Auburn Bread,NaN
114,-84.358032,33.763321,confectionery,K Chocolat,30307
115,-84.378097,33.772180,confectionery,NaN,NaN
146,-84.389949,33.757823,deli,Downtown Deli,30303
147,-84.346638,33.758338,deli,OZ Health Shop,GA 30307
172,-84.350616,33.764158,fresh juices & smoothies,Ardens Garden,NaN
173,-84.350434,33.764622,frozen yogurt,Yoreka!,NaN
174,-84.349355,33.767366,Frozen Yogurt,Frozen Yogurt,NaN
227,-84.390099,33.777013,ice_cream,Gyro Bros,NaN

In [25]:
#3: shopping - accesories, cosmetics, department_store, mall, skateshop, electronics, craft, gift, glam shop, household, interior_decoration
shopping_df = atlanta_poi.loc[(atlanta_poi['shop']=='accesories') | (atlanta_poi['shop']=='cosmetics')\
                            | (atlanta_poi['shop']=='department_store') | (atlanta_poi['shop']=='mall')\
                            | (atlanta_poi['shop']=='skateshop')| (atlanta_poi['shop']=='electronics')| (atlanta_poi['shop']=='craft')|(atlanta_poi['shop']=='gift')| (atlanta_poi['shop']=='glam shop')| (atlanta_poi['shop']=='household')|(atlanta_poi['shop']=='interior decoration')]
shopping_df

,X,Y,shop,name,addr:postcode
141,-84.393592,33.751757,cosmetics,Taj Perfumes Inc.,30303
142,-84.366751,33.771692,craft,Binders,30308
143,-84.384469,33.778685,craft,Blick Art Materials,30309
144,-84.366300,33.828273,craft,Michaels,NaN
148,-84.362217,33.848253,department_store,Macy's,NaN
149,-84.491300,33.688963,department_store,Macy's,NaN
150,-84.363983,33.846159,department_store,Nieman Marcus,NaN
151,-84.399525,33.793086,department_store,Target,NaN
152,-84.358764,33.851706,department_store,Target,NaN
153,-84.346362,33.756975,department_store,Target,NaN
166,-84.348529,33.759398,electronics,Best Buy,NaN
182,-84.422589,33.656487,gift,Delta Flight Museum Store,NaN
183,-84.333474,33.764756,gift,Donna Van Gogh's,NaN
184,-84.349854,33.764740,glam shop,Envy's Pretty Party,NaN
223,-84.358565,33.853265,household,Container Store,NaN
224,-84.364679,33.845815,household,Crate & Barrel,NaN
225,-84.367774,33.780038,household,Tuesday Morning,NaN
239,-84.382777,33.786777,mall,Colony Square,30309
240,-84.391713,33.752851,mall,Downtown Mini Mall,30303
299,-84.349390,33.766947,skateshop,Stratosphere Skateboards,NaN